<div id="nav-wrapper">
	<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li><a href="index.html">网站首页</a></li> 
			<li {% if current[1] == 'blog/index.html' %}class='current'{% endif %}><a href="/blog/index.html">资讯</a></li>
			<li {% if current[1] == 'left-sidebar.html' %}class='current'{% endif %}><a href="/left-sidebar.html">人文景观</a></li>
			<li {% if current[1] == 'right-sidebar.html' %}class='current'{% endif %}><a href="/right-sidebar.html">菜溪特产</a></li>
			<li {% if current[1] == 'guanyu.html' %}class='current'{% endif %}><a href="/guanyu.html">关于</a></li>
		</ul>
	</nav>
</div>
